.code-snippet {
	margin-left: -3rem;
	margin-right: -1.25rem;
	overflow-x: scroll;
	border-radius: var(--border-radius);
	padding: 1.25rem;

	font-size: 0.875rem;
	line-height: 1.25rem;

	@media not all and (min-width: 768px) {
		margin-left: -1.5rem;
	}

	& > code {
		counter-increment: step 0;
		counter-reset: step;

		& > span::before {
			display: none;

			margin-left: -0.5rem;
			margin-right: 0.5rem;
			height: 1rem;
			width: 2rem;
			padding-right: 0.5rem;
			text-align: right;
			color: rgb(82 82 91);

			content: counter(step);
			counter-increment: step;

			@media (min-width: 768px) {
				display: inline-block;
			}
		}
	}
}
