.main-wrapper {
	min-height: 100vh;
	padding: 0;

	display: grid;
	grid-template-columns: 1fr min(var(--max-width), calc(100% - 2rem)) 1fr;
	grid-template-rows: auto 1fr max-content;
	grid-auto-flow: column;
	column-gap: 20px;
}

.main-wrapper > * {
	grid-column: 2;
}
