.main-wrapper {
	display: grid;
	grid-template-columns: 1fr min(var(--max-width), calc(100% - 2rem)) 1fr;
	grid-template-rows: auto 1fr max-content;
	grid-auto-flow: column;
	column-gap: 20px;

	& .main-content {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	& strong > em {
		color: rgb(var(--color-primary));
	}
}

.main-wrapper > * {
	grid-column: 2;
}
